@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.header {
  display: flex;
  justify-content: center;

}

.header-text { 
  font-family: 'Josefin Sans', cursive;
  color: blue;
}
.logo-container {
 
  display: flex;
  justify-content: center;
}
#medline-logo {
  height: 400px;
  width: 400px;
}

#parent {
 display: grid;
 place-items: center;
}

