@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.header {
  display: flex;
  justify-content: center;

}

.header-text { 
  font-family: 'Montserrat', cursive;
  color: #174c9b;
}
.logo-container {
 
  display: flex;
  justify-content: center;
}
#medline-logo {
  height: 400px;
  width: 400px;
}

#parent {
 display: grid;
 place-items: center;
}

.compile-btn {
  background-color: red;
  border: none;
  cursor: pointer;
  border-radius: 2em;
  margin-right: 150px;
  margin-top: 30px;
  height: 40px;
  color: white;
  width: 100px;
  font-size: 16px;
}
.compile-btn:hover {
  box-shadow: 1px 1px 10px rgb(86, 86, 86);
}
.cancel-btn {
  background-color: rgb(146, 144, 144);
  border: none;
  cursor: pointer;
  border-radius: 2em;
  height: 40px;
  margin-top: 30px;
  color: white;
  width: 100px;
  font-size: 16px;
}
.cancel-btn:hover {
  box-shadow: 1px 1px 10px rgb(86, 86, 86);
}

.active {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color:  #174c9b;
  padding-right: 60px;
  padding: 20px;
  font-family: 'Montserrat';
  font-size:18px;
 
}
a {
  color: white;
  text-decoration: none;
 
  
}

a:hover {
  color: rgb(219, 111, 111);
}



.header-1 {
  display: flex;
  justify-content: space-between;
}

input:focus, textarea {
  outline: none;
}
.secondary-header {
  padding-left: 25px;
  padding-right: 175px;
  color: rgb(179, 183, 187);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.first-row-heading {
  background-color: rgb(216, 220, 145);
  border: 1px solid black;
  font-size: 10px;
}



.first-row {
  display: flex;
  justify-content: space-between;


}

.score-box {
  margin-top: 15px;
  height: 100px;
  width: 100px;
  font-size: 50px;
  color: lightblue;
}

.score-box-2 {
  margin-top: 15px;
  height: 100px;
  width: 100px;
  font-size: 50px;
  color: rgb(86, 48, 153);
}

.score-box-3 {
  margin-top: 15px;
  height: 100px;
  width: 100px;
  font-size: 50px;
  color: pink;
}

.score-box-4 {
  margin-top: 1px;
  height: 100px;
  width: 100px;
  font-size: 50px;
  color: rgb(171, 135, 171);
}

.justifications {
  border: none;
  background: transparent;
  padding-right: 200px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.first-row-text {
  padding-top: 40px;
}

.table-heading-1 {
  background-color: pink;
}

.table-heading-2 {
  background-color: rgb(171, 135, 171);
}

.table-heading-3 {
  background-color: rgb(86, 48, 153);
}

.table-heading-4 {
  background-color: rgb(139, 193, 244);
}

.table-heading-5 {
  background-color: rgb(105, 240, 249);
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.edit-button {
  padding: 15px;
  margin-right: 50px;
  background: greenyellow;
  border-radius: 3em;
  font-size: 16px;
  border: none;
}
.edit-button:hover {
box-shadow: 1px 1px 7px rgb(146, 146, 146);
}

.save-results-button {
  padding: 15px;
  margin-right: 150px;
  background: red;
  border-radius: 3em;
  font-size: 16px;
  border: none;
}
.save-results-button:hover {
  box-shadow: 1px 1px 7px rgb(146, 146, 146);
}

.score-question {
  padding-left: 20px;
}

.create {
  text-align: center;
}
.create select {
  border: 1px solid gray;
  border-radius: 1em;
  color: black;
  font-size: 14px;
}
h2 {
  padding-left: 80px;
}

.option-container {
  display: flex;
  justify-content: center;
  
}
.option-box {
  color: white;
  font-size: larger;
  text-align: center;
  padding: none;
  width: 200px;
  height: 200px;
  background-color: #174c9b;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 90px;
  cursor: pointer;
}

.option {
  
  margin: none;
  padding: none;
  color: white;
  
}
i {
  padding: 10px;
  
}

.scorecard2-container {
  display: flex;
  justify-content: center;
}
