.header {
  display: flex;
  justify-content: center;

}
.logo-container {
 
  display: flex;
  justify-content: center;
}
#medline-logo {
  height: 400px;
  width: 400px;
}

#parent {
 display: grid;
 place-items: center;
}